# Virtual environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*

# Streamlit
.streamlit/
